<footer class="footer">
        <div class="footer-left">
            <h2 class="shop-name">Lava Chicken</h2>
            <p class="slogan">© 2025 Lava Chicken | All rights reserved</p>
        </div>

        <div class="footer-contact">
            <h3>Contact Us</h3>
            <p><strong>Hotline:</strong> 0968 783 987</p>
            <p><strong>Email:</strong> lavachicken@gmail.com</p>
        </div>
    <div class="footer-links">
        <div class="link-group">
            <a href="menu.html">Menu</a>
            <a href="order.html">Order</a>
        </div>
        <div class="link-group">
            <a href="combo.html">Combo</a>
            <a href="cart.html">Cart</a>
        </div>
    </div> 
</footer>