

.nav {
    font-family: Reenie Beanie, cursive;;
    background-color: #f7941d;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav .logo {
    /* font-size: 35px;
    font-weight: bold;
    line-height: 0.8;
    margin-left: 25px;
    justify-content: left; */
    width: 150px;
    height: 80px;
}
.nav .logo img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-size: 14px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 25px;
}

.nav img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}